[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
paramiko = "*"
pytest = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-repeat = "*"
pymongo = "*"
pytest-json-report = "*"
pytest-timeout = "*"
python-gitlab = "*"
mock = "*"
psutil = "*"
pytest-mock = "*"
pytest-rerunfailures = "*"
timeout-decorator = "*"
pytest-dependency = "*"
zipp = "*"
"rpi.gpio" = "*"
pylint = "*"
screen = "*"
bcrypt = {version="==4.0.1", hashes=["..."], allow_prereleases=true}
cryptography = {version="==41.0.3", hashes=["..."], allow_prereleases=true}


[dev-packages]

[requires]
python_version = "3.7"
