[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
pytest = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-repeat = "*"
pymongo = "*"
pytest-json-report = "*"
pytest-timeout = "*"
python-gitlab = "*"
mock = "*"
psutil = "*"
pytest-mock = "*"
pytest-rerunfailures = "*"
timeout-decorator = "*"
pytest-dependency = "*"
zipp = "*"
"rpi.gpio" = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.7"
