[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = "*"
pytest = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-repeat = "*"
numpy = "==1.21.4"
pandas = "*"
pymongo = "*"
pytest-json-report = "*"
pytest-timeout = "*"
python-gitlab = "*"
mock = "*"
psutil = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.7"
